<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="apple-touch-icon" href="./icons/icon-192x192.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="icon" href="./favicon.png">
    <title>Restaurant Apps</title>
  </head>
  <body>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>RataSteak's</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li class="nav__item"><a href="#/home">Home</a></li>
          <li class="nav__item"><a href="#/favorite">Favorite</a></li>
          <li class="nav__item"><a href="https://github.com/Ujangbrody">About Us</a></li>
        </ul>
      </nav>
    </header>
<!-- s -->
  <div class="hero-container" id="hero-banner">
    <img src="./images/heros/hero-image_1.jpg" alt="gambar pria memotong daging" class="hero__image">
  </div>

  <main id="mainContent"></main>

  <footer>
    <span>Copyright © 2024 - RataSteak's Apps</span>
  </footer>

  </body>
</html>
